<?xml version="1.0"?>
<config>
    <modules>
        <Prairiedev_Rss>
            <version>0.1.0</version>
        </Prairiedev_Rss>
    </modules>
    <global>
        <blocks>
            <rss>
                <rewrite>
                    <list>Prairiedev_Rss_Block_List</list>
                    <catalog_latestorder>Prairiedev_Rss_Block_Catalog_Latestorder</catalog_latestorder>
                </rewrite>
            </rss>
        </blocks>
    </global>
    <frontend>
        <routers>
            <rss>
                <use>standard</use>
                <args>
                    <module before="Mage_Rss">Prairiedev_Rss</module>
                    <frontName>rss</frontName>
                </args>
            </rss>
        </routers>
    </frontend>
</config>